[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
requests = "*"
pandas = "*"
spacy = "*"
sklearn = "*"
xgboost = "*"
category-encoders = "*"
flask = "*"
gunicorn = "*"
ipykernel = "*"
matplotlib = "*"
seaborn = "*"
pandas-profiling = "*"
ipywidgets = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.10"
