<!DOCTYPE html>
<html>

    <head>
        <title>Video Game Scores</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic" />
    </head>

    <body>
        <nav>
            <a href="/" class="brand"><span>Video Game Scores</span></a>

            <div class="menu">
                <a href="/predict-score" class="button success">Predict a Video Game Score</a>
                <a href="/recommend-games" class="button success">Get Custom Recommendations</a>
                <a href="/game-stats" class="button error">Video Game Statistics</a>
                <a href="/project-process" class="button error">Project Process</a>
            </div>
        </nav>

        <article class="flex two" style="padding: 3em 1em;">

            <div>
                <h1 style="color:darkcyan">Game Reviews Project by Oliver Castellanos</h1>
                <h2>A study on video game scoring using data gathered from the web.</h2>
                <h2>Check out these sections using the buttons above:</h2>
                <h3 style="color:lightseagreen;text-align: center;">- Predict -</h3>
                <h4>Use my model to predict scores for either upcoming games or a made up one.</h4>
                <h3 style="color:lightseagreen;text-align: center;">- Recommendations -</h3>
                <h4>Get recommendations for games you might like by liking or disliking a series of games in my database.</h4>
                <h3 style="color:crimson;text-align: center;">- Game stats -</h3>
                <h4>Analysis of video game features and scoring.</h4>
                <h3 style="color:crimson;text-align: center;">- Project process -</h3>
                <h4>Description of my process of creating this project.</h4>
            </div>
            <div>
                <h3>All information was scraped off of metacritic.com:</h3>
                <img src="{{ url_for('static', filename='images/metacritic_page.png') }}" alt="metacritic data image" width="680" height="400">
            </div>
        </article>
    </body>
</html>