<!DOCTYPE html>
<html>

    <head>
        <title>Video Game Scores</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic" />
    </head>

    <body>
        <nav>
            <a href="/" class="brand"><span>Video Game Scores</span></a>

            <div class="menu">
                <a href="/" class="button button">Home</a>
                <a href="/predict-score" class="button success">Predict a Video Game Score</a>
                <a href="/recommend-games" class="button success">Get Custom Recommendations</a>
            </div>
        </nav>

        <article class="flex two" style="padding: 3em 1em;">
            <div>
                <h1>Game Stats</h1>
            </div>
        </article>
    </body>
</html>