<!DOCTYPE html>
<html>

    <head>
        <title>Video Game Scores</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic" />
    </head>

    <body>
        <nav>
            <a href="/" class="brand"><span>Video Game Scores</span></a>

            <div class="menu">
                <a href="/" class="button button">Home</a>
                <a href="/recommend-games" class="button success">Get Custom Recommendations</a>
                <a href="/game-stats" class="button error">Video Game Statistics</a>
            </div>
        </nav>

        <article class="flex two" style="padding: 3em 1em;">
            <div>
                <h1>Predict a Score</h1>
                {% block content %}
                <form action="/predict-score" method="post">
                    <p>Rating:</p>
                    <select name="rating">
                      {% for rating in ratings %}
                      <option value="{{ rating }}">{{ rating }}</option>
                      {% endfor %}
                    </select>

                    <p>Developer:</p>
                    <select name="developer">
                      {% for developer in developers %}
                      <option value="{{ developer }}">{{ developer }}</option>
                      {% endfor %}
                    </select>

                    <p>Number of Players:</p>
                    <select name="player">
                      {% for player in players %}
                      <option value="{{ player }}">{{ player }}</option>
                      {% endfor %}
                    </select>

                    <p>Online Multiplayer?</p>
                    <select name="online">
                      <option value="0">Yes</option>
                      <option value="1">No</option>
                    </select>

                    <p>Release Month:</p>
                    <select name="month">
                      {% for i in range(1, 13) %}
                      <option value="{{ i }}">{{ i }}</option>
                      {% endfor %}
                    </select>

                    <p>Release Year:</p>
                    <select name="year">
                      {% for i in range(1970, 2031) %}
                      <option value="{{ i }}">{{ i }}</option>
                      {% endfor %}
                    </select>

                    <p>Genres:</p>
                    {% for genre in genres %}
                    <label>
                      <input type="checkbox" name="{{ genre }}">
                      <span class="checkable">{{ genre }}</span>
                    </label>
                    {% endfor %}
                    
                    <p>Summary:</p>
                    <input type="text" name="summary" placeholder="Type a description/summary of the video game">
                    <input type="submit" value="Predict">
                </form>
            </div>

            <div>
                <h2>Critic Score Range Prediction (Out of 100):</h2>
                <h3>{{ ms_score }}</h3>
                <h2>User Score Range Prediction (Out of 100):</h2>
                <h3>{{ us_score }}</h3>
                {% endblock %}
            </div>
        </article>
    </body>
</html>